<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/resources/static/css.css">
    <link rel="stylesheet" type="text/img" href="/resources/img">
</head>
</div>
<body>
<div class="layuot2">
    <header><img src="/resources/img/1.jpg" height="100" width="1000"></header>
    <div class="menu">
        <ul>
            <li><a href="/resources/static/css.css/#">Trang Chu</a></li>
            <li><a href="/create-phongban">Phong Ban</a></li>
            <li><a href="/create-nhanvien">Nhan Vien</a></li>
            <li><a href="/create-kiluat">Ki luat</a></li>
        </ul>
    </div>
    <article><img src="/resources/img/2.jpg" height="450" width="300"></article>
    <aside><iframe width="650" height="450" src="https://www.youtube.com/embed/FAqpeLXZ3G8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></aside>
    <footer><img src="/resources/img/2.jpg" height="50" width="1000"></footer>
</div>
</body>
</html>