<!DOCTYPE html>
<html>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Merged Forms Page Responsive Widget Template :: W3layouts</title>
    <!-- Meta tag Keywords -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8" />
    <meta name="keywords"
          content="Merged Forms Page Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <!-- //Meta tag Keywords -->
    <link rel="stylesheet" href="/resources/static/login.css" type="text/css" media="all" /><!-- Style-CSS -->
<!--    <link rel="stylesheet" href="/resources/img/layer.png" type="text/img"/>-->
<!--    <link rel="stylesheet" href="/resources/img/login2.jpg" type="text/img" >-->
<!--    <link rel="stylesheet" href="/resources/static/css.css" type="text/css" media="all" />&lt;!&ndash; Style-CSS &ndash;&gt;-->
</head>
<body>
<!--<center>-->
<!--<h1>Login</h1>-->
<!--<form action="/login"  method="post">-->
<!--    Username: <input name="username" placeholder="enter your username"/>-->
<!--    <br/>-->
<!--    Password: <input name="password" type="password" placeholder="enter your password"/>-->
<!--    <br/>-->
<!--    <input type="submit" value="Login"/>-->
<!--</form>-->

<!--</center>-->

<section class="form-26">
    <div class="form-26-mian">
        <div class="layer">
            <div class="wrapper">
                <div class="form-inner-cont">
                    <div class="forms-26-info">
                        <h2>Login</h2>
                        <p>Etiam sit amet iaculis nunc, et feugiat enim. Aenean lorem dui, mattis et neque ac, viverra dignissim elit. Nunc quis finibus lorem.</p>
                    </div>
                    <div class="form-right-inf">
                        <form action="/login" method="post" class="signin-form">
                            <div class="forms-gds">
                                <div  class="form-input">
                                    <input type="fullname" name="fullname" placeholder="fullname" required />
                                </div>
                                <div  class="form-input">
                                    <input type="password" name="password" placeholder="Password" required />
                                </div>
                                <div  class="form-input"><button class="btn">Login</button></div>
                            </div>
                            <h6 class="already"> Dont have an account? <a href="/create-account"><span>Register Here<span></span></span></a></h6>
                        </form>

                    </div>
                    <div class="copyright text-center">
                        <p>© 2019 Merged Forms. All rights reserved | Design by <a href="http://w3layouts.com/"
                                                                                   target="_blank">W3Layouts</a></p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
</body>
</html>