<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Xoa nhan vien</title>
</head>
<body>
<h1>Xoa nhan vien</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/nhanviens">kho nhan vien</a>
</p>
<form th:action="@{/delete-nhanvien}" th:object="${nhanvien}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>hoten:</td>
            <td th:text="${nhanvien.get().hoten}"></td>
        </tr>
        <tr>
            <td>ngaysinh:</td>
            <td th:text="${nhanvien.get().ngaysinh}"></td>
        </tr>
        <tr>
            <td>capdo:</td>
            <td th:text="${nhanvien.get().capdo}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Xoa nhan vien"></td>
        </tr>
    </table>
</form>
</body>
</html>