<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Xem nhan vien</title>-->
<!--</head>-->
<!--<body>-->
<!--<h1>Xem nhan vien: <span th:text="${nhanvien.get().hoten}"></span></h1>-->
<!--<a href="/nhanviens">nhan vien kho</a>-->
<!--<table border="1">-->
<!--    <tr>-->
<!--        <th>loai</th>-->
<!--        <th>lido</th>-->
<!--        <th>ngayghinhan</th>-->
<!--    </tr>-->
<!--    <th:block th:each="kiluat : ${kiluats}">-->
<!--        <tr>-->
<!--            <td th:text="${kiluat.getLoai()}"></td>-->
<!--            <td th:text="${kiluat.getLido()}"></td>-->
<!--            <td th:text="${kiluat.getNgayghinhan()}"></td>-->
<!--        </tr>-->
<!--    </th:block>-->
<!--</table>-->
<!--</body>-->
<!--</html>-->